textarea {
    min-height: 400px;
}

h3 {
    font-size: 500px;
}

.email {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2%;
    font-weight: bold;
    margin-top: 2%;
}

.email:hover {
    cursor: pointer;
}

.time {
    color: gray;
}